
/* 搜索按钮  */
.search-btn,.reset-btn,.on-search-btn,.on-reset-btn{display:inline-block;width:83px;height:22px;line-height:22px;margin:0;padding:0 15px 0 5px!important;*padding:2px 15px 5px 0!important;border:none;color:#333;font-size:12px;cursor:pointer; text-align:right;}
.excel-btn,.on-excel-btn{display:inline-block;width:95px;height:22px;line-height:22px;margin:0;padding:0 15px 0 5px!important;*padding:2px 15px 5px 0!important;border:none;color:#333;font-size:12px;cursor:pointer; text-align:right;}
.search-btn{background:url(../images/search-button.png) left top no-repeat;}
.on-search-btn{background:url(../images/search-button.png) 0 -22px no-repeat;}
.reset-btn{background:url(../images/search-button.png) 0 -44px no-repeat;}
.on-reset-btn{background:url(../images/search-button.png) 0 -66px no-repeat;}
.excel-btn{background:url(../images/search-button.png) 0 -88px no-repeat;}
.on-excel-btn{background:url(../images/search-button.png) 0 -110px no-repeat;}

a.add-b{ background:url(../images/v4.1.0/icons/icon2.png) 8px -4px no-repeat;}
a.del-b{ background:url(../images/v4.1.0/icons/icon2.png) 8px -44px no-repeat; }
a.edit-b{ background:url(../images/v4.1.0/icons/icon2.png) 8px -84px no-repeat; }

a.edit-icon,a.del-icon{display:inline-block;width:18px;height:16px; vertical-align:middle;marign:5px 0;}
a.edit-icon{background:url(../images/v4.1.0/icons/icon1.png) 0 -160px no-repeat;}
a.del-icon{background:url(../images/v4.1.0/icons/icon1.png) 0 -144px no-repeat;}

/* 表单样式 */
.red-font{color:#f90;font-weight:normal;}
.textField{text-align:right;}
.textField1{text-align:right;font-weight:800;}
.table-new{font-size:12px;}
.unFrameTextField{text-align:left; border-left:0px;border-top:0px;border-right:0px;border-bottom:1px;width:200px;}
a {color:#07519A; text-decoration: none}
a:hover {color: #FF6600; text-decoration: underline}

/* 按钮样式 */
.start-order-btn,.end-order-btn,.detail-order-btn{color:red;margin:0 5px;text-align: center;}
.corres-blue-btn,.corres-red-btn,.corres-gray-btn{display:inline-block;border-radius:3px;border-width:1px;height:28px;padding:0 15px;color:#fff;font-size:12px;margin:0 5px;cursor:pointer;}
.corres-blue-btn{background:url(../images/v4.1.0/blue-btn-bg.jpg) repeat-x;border:1px #389fe2 solid; }
.corres-red-btn{background:url(../images/v4.1.0/red-btn-bg.jpg) repeat-x;border:1px #ef9207 solid;}
.corres-gray-btn{background:url(../images/v4.1.0/gray-btn-bg.jpg) repeat-x;border:1px #96a1a7 solid;}