/* CSS Document */


/*初始化*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,dl,dt,dd,ol,ul,li, fieldset,form,label,legend,table,tbody,tr,th,td,select,input{margin:0;padding:0;}
html {font-family:arial,"宋体";}
body{overflow-y:hidden;}
img{border:none;}
.m-auto{margin:0 auto;}
.clear{clear:both;line-height:0;padding:0;margin:0;font-size:0; border:0;overflow:hidden;}
.left{float:left;}
.right{float:right;}
.tl{text-align:left;}
.tr{text-align:right;}
.tc{text-align:center;}
ul,li{list-style:none;}
a:link,a:visited{ color:#000; text-decoration:none;}
a:hover{ color:#FF0000; text-decoration:underline;}
a:focus { outline:none;} 
.clear{clear:both;}
.st{font-family:"宋体";}


/*登录页面*/
.content{margin:120px auto 0 auto;_margin:130px auto -130px auto;width:729px;text-align:left;}
.content .left,.content .right{width:148px;height:572px;}
.content .left{float:left;}
.content .right{float:left;}
.content .right{width:575px;text-align:left;}
.content .right .logo{display:inline-block;width:427px;height:200px;background:url(../images/logo.png) no-repeat;_background:url(../images/logo.jpg) no-repeat;}
.content .right .login-bg{background:url(../images/login_bg.png) top no-repeat;_background:url(../images/login_bg.jpg) top no-repeat;display:inline-block;width:505px;height:274px;padding-top:93px;padding-left:70px;}
.login-bg .login-left{float:left;line-height:36px!important;*line-height:38px!important;_line-height:38px;font-family:"微软雅黑";font-size:15px;color:#222;padding-right:5px;}
.login-bg .login-right{float:left;text-align:left;}
.input-bg{background:url(../images/input_bg.gif) no-repeat;display:inline-block;width:190px;height:30px;padding:0 5px;line-height:30px;font-size:13px;color:#333;border:0;margin-bottom:7px;margin-left:2px;font-family:arial,"宋体";}
.short-input{background:url(../images/short-input.gif) no-repeat;display:inline-block;width:120px;height:30px;padding:0 5px;line-height:30px;font-size:13px;color:#333;border:0;margin-bottom:7px;margin-left:2px;font-family:arial,"宋体";}
.button-bg{display:inline-block;background:url(../images/button_bg.png) no-repeat;width:133px;height:53px;cursor:pointer;border:0;}
.login-right img{ vertical-align:middle;margin-top:-5px;_margin-top:0;}
.content .right .footer{color:#fff;font-size:12px;text-align:left;font-family:arial,"宋体";margin-top:-50px!important;*margin-top:-60px!important;_margin-top:-65px;padding-left:135px;}


/*内页*/
.inner-body{background:#fff;}
.header{border-bottom:2px #0c487e solid;background:url(../images/header-bg.jpg) repeat-x;height:97px;margin-bottom:1px;}
.header .left .logo{display:inline-block;width:605px;height:97px;background:url(../images/header-logo.png) no-repeat;_background:url(../images/header-logo.jpg) no-repeat;}
.button{display:inline-block;background:url(../images/button-bg.png) no-repeat;_background:url(../images/button-bg.gif) no-repeat;color:#333;width:71px;height:24px; text-align:center;font-size:12px;line-height:23px;margin:10px 5px 0 0;}
.header .right{color:#000;font-size:13px;padding:30px 0 0 60px;background:url(../images/header-right.png) no-repeat;width:253px;height:67px;}
.sidebar{background:url(../images/left-bg.gif) repeat-y;width:225px;}
.sidebar-top{background:url(../images/sidebar-top.gif) repeat-x;height:40px;border-bottom:1px #99c1dc solid; text-align:center;line-height:40px;font-size:14px;}
.sidebar-menu{font-size:14px;color:#000;line-height:24px;padding:15px;margin-top:1px;}

.bread{background:url(../images/sidebar-top.gif) repeat-x;height:40px;_height:25px;border-bottom:1px #99c1dc solid; text-align:left;line-height:40px;font-size:14px;padding:0 20px;_padding:15px 20px 0 20px;}
.bread img{ vertical-align:middle;margin-top:-5px;_margin-top:-4px;}
.arrow-bg{background:url(../images/arrow-bg.gif) repeat-y;width:6px;height:200px;border-left:1px #9ac1dc solid;border-right:1px #9ac1dc solid;}
.inner-footer{background:url(../images/footer-bg.jpg) repeat-x;height:35px;line-height:35px;text-align:center;color:#fff;font-size:13px;font-family:arial,"宋体";}
.main-bg{background:url(../images/dianbg.jpg) bottom right no-repeat;}
.main{background:url(../images/main-bg.gif) repeat-x;padding:20px;margin-top:1px;}
.ul-menu li{background:url(../images/li.gif) left no-repeat;line-height:24px;font-size:14px;padding-left:24px;}
.ul-menu li a,.ul-menu li a:link,.ul-menu li a:visited{color:#0f5a8d; text-decoration:none;}
.ul-menu li a:hover{color:#ed4f1e; text-decoration:none;}
a.arrow-left,a.arrow-right{ display:inline-block;width:6px;height:31px;}
a.arrow-left{background:url(../images/arrow-left.gif) no-repeat;}
a.arrow-right{background:url(../images/arrow-right.gif) no-repeat;}

/*编辑样式*/
body,div,ul,li{margin:0;padding:0;font-family:Arial, Helvetica, sans-serif,"宋体";}
ul li{list-style:none;font-size:12px;line-height:24px;}
.clear{clear:both;}
.movie-edit{margin:15px;width:780px;font-size:12px;}
.input-border{border:1px #d3d3d3 solid;height:19px;line-height:19px;padding:0 5px;margin:2px 0 2px 0;font-family: Arial, Helvetica, sans-serif,"宋体";}
.input-border-red{border:1px #ff3333 solid;background:#ffe5e5;height:19px;line-height:19px;padding:0 5px;margin:2px 0 1px 0;font-family: Arial, Helvetica, sans-serif,"宋体";}
.red-font{color:#FF0000;}
.letter-s{ letter-spacing:6px;}
ul.movie-edit-ul1 li,ul.movie-edit-ul2 li{float:left;}
.movie-edit-li1,.movie-edit-li3,.movie-edit-li5{ text-align:right;padding-right:5px;width:75px;}
.movie-edit-li2,.movie-edit-li4,.movie-edit-li6{width:180px;line-height:24px;}
ul.movie-edit-ul2 li{width:235px;padding-left:10px;}
.yulan{margin:8px 0;margin-left:10px; border:1px #ccc solid;background:#f7f7f7; text-align:center;padding:5px 0;width:213px;}
.yulan img{width:180px;height:170px;}
.del{border:0;background:#333;color:#fff;padding:2px 0;margin-top:8px;width:100px; cursor:pointer;}
ul.movie-edit-ul3 li{float:left;}
.movie-edit-js{width:520px;margin-left:2px;}
.movie-edit-js textarea{width:460px;margin-top:5px;font-size:12px;line-height:21px;padding:2px;font-family: Arial, Helvetica, sans-serif,"宋体";}


/*用于view展示和打印*/

.movie-info-top ul,li{margin:0;padding:0;font-family:Arial, Helvetica, sans-serif,"宋体";}
.movie-info-top ul li{list-style:none;font-size:12px;line-height:24px;}
.movie-about{width:830px;margin:0 auto;}
.movie-info ul li{float:left;}
.movie-info ul li span,.jianjie span{color:#888;}
.movie-imgs img{margin-bottom:10px;width:900px;height:318px;}
.movie-info{border:1px #ccc solid;padding:15px;font-size:12px;line-height:21px;width:750px;}
ul.movie-info-ul li{float:left;}
ul.movie-info-ul li h1{font-size:18px;font-weight:bold;padding:0;margin:0;height:28px;line-height:28px;color:#06c;}
.li1{width:185px;}
.li2{width:170px;padding-left:15px;}
.li3{width:170px;white-space:nowrap;padding-left:15px;}
.li4{width:180px;white-space:nowrap;padding-left:15px;}
.jianjie{border-top:1px #ccc dotted;border-bottom:1px #ccc dotted;padding:15px 0;margin:10px 0;}

/*2013-4-8*/
.movie-more ul li{float:left; text-align:center;line-height:18px;width:25%;}
.movie-more ul li a,.movie-more ul li a:link,.movie-more ul li a:visited{ color:#000; text-decoration:none;}
.movie-more ul li a:hover{ color:#f00; text-decoration:none; }
.movie-more ul li p{margin:0;padding:0;line-height:17px;color:#666;}
.movie-more-img{ display:block;width:160px;height:90px; position:relative; overflow:hidden;margin:15px auto 5px auto;}
.movie-more-img img{width:160px;height:90px;}
.movie-more-img .time-bg{background:#000;height:17px;left: 0; opacity: 0.6; position: absolute; top: 73px;width:160px;}
.movie-more-img .time{color:#fff; height: 17px; position: absolute; right: 6px; text-align: right; top: 73px; width: 154px;}